<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1><%= title %>  : <%= office.officeNumber %></h1>

  <div class="row">

    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Процессор</th>
        <th scope="col">Оперативная память</th>
        <th scope="col">ID кабинета</th>

      </tr>
      </thead>
      <tbody>
      <% for (let pc of pcs) { %>
        <tr>
          <th scope="row"><%= pc.id %></th>
          <td><%= pc.CPU %></td>
          <td><%= pc.RAM %></td>
          <td><%= pc.OfficeId %></td>
        </tr>
      <% } %>
      </tbody>
    </table>

  </div>
</div>


</body>
</html>
